<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xmlns="http://java.sun.com/xml/ns/javaee" 
        xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
        version="3.0">

    <display-name>wsb</display-name>
    
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext.xml</param-value>
	</context-param>  
	
    <!-- filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping -->
    
	  

    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>
            <!-- 
            org.apache.struts2.dispatcher.FilterDispatcher
              -->
            org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
        </filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
　 <!-- zh-cn encoding -->

<!-- 
    <filter>

        <filter-name>struts-cleanup</filter-name>

        <filter-class>

            org.apache.struts2.dispatcher.ActionContextCleanUp

        </filter-class>

    </filter>  

    <filter-mapping>

        <filter-name>struts-cleanup</filter-name>

        <url-pattern>/*</url-pattern>

    </filter-mapping> 
 -->


    <!-- This is the GDP's deployer servlet 
    <servlet>
        <servlet-name>GDP Deployer Servlet</servlet-name>
        <servlet-class>com.rong.jbpm.web.ProcessUploadServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>GDP Deployer Servlet</servlet-name>
        <url-pattern>/upload/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GDP Display Servlet</servlet-name>
        <servlet-class>com.rong.jbpm.web.ProcessDiagramServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>GDP Display Servlet</servlet-name>
        <url-pattern>/display/*</url-pattern>
    </servlet-mapping>
    -->
    

    
    <!-- ================ init start ======================== -->
    <servlet id="Servlet_1112768111623">
        <display-name>InitConfigServlet</display-name>
        <servlet-name>InitConfigServlet</servlet-name>
        <servlet-class>com.globalwave.common.web.InitConfigServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitConfigServlet</servlet-name>
        <url-pattern>/InitConfigServlet</url-pattern>
    </servlet-mapping>
    <!-- ================ init End ======================== -->
    
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    
    <!-- 
    <resource-ref>
        <res-ref-name>wm/FooWorkManager</res-ref-name>
        <res-type>commonj.work.WorkManager</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    
    
    <resource-ref>
        <res-ref-name>wm/FooTimerManager</res-ref-name>
        <res-type>commonj.timers.FooTimerManager</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
     -->
    
</web-app>
